<p>
<div class="container">
  <% @users.each do |user| %>
    <h3 style="margin: -3px;"><%= "#{user.first_name} #{user.last_name}" %></h3>
    <p>email: <%= user.email %></p>

    <%= link_to "New User ", new_user_path(@user) %></br>
    <%= link_to "Edit User ", edit_user_path(user) %></br>
    <%= link_to  "Delete", user_path(user), method: :delete %>
    </br></br>
  <% end %>

</div>
